.fotorama{ data: { fit: :cover, autoplay: true, width: 700, 'max-height' => 423, arrows: 'always', click: 'true', swipe: 'true', loop: 'true', captions: 'true' } }
  - photos.each do |photo|
    = image_tag(photo.image.url(:full), data: { caption: photo.title })
