-#.fb-like{ data: { share: true, width: 450, 'show-faces' => true } }
%a#fb_share(href=root_url)
  Расшарить

:javascript
  $(function() {

    $('#fb_share').click(function(e){
      e.preventDefault();

      FB.ui({
        display: 'popup',
        //method: 'share_open_graph',
        method: 'share',
        href: this.href
        //action_type: 'og.likes',
        //action_properties: JSON.stringify({
        //  object: this.href,
        //})
      }, function(response){});
    })
  });