%section.b-category
  .container
    .center.wow.fadeInDown.animated
      %h2 Каталог
      %p.lead
        Для удобства пользования нашим сервисом мы выделили категории и разделы
    .row
      - @categories.each do |category, subcategories|
        .work.col-lg-4.col-md-6.center
          = image_tag(category.image.url)
          %h4= category.title
          - if subcategories.any?
            %p
              - subcategories.keys.each_with_index do |subcategory, i|
                - if i.nonzero?
                  ,
                = link_to subcategory.title, subcategory
          .b-category-link
            = link_to category do
              %i.fa.fa-eye{:title => 'Смотреть лучшие работы'}




-#%section.b-category
-#  .container
-#    .center.wow.fadeInDown.animated
-#      %h2 Каталог
-#      %p.lead
-#        Для удобства пользования нашим сервисом мы выделили категории и разделы
-#    .row
-#      .work.col-lg-4.col-md-6.center
-#        = image_tag('category/2.png')
-#        %h4 Одежда
-#        %p
-#          = link_to "Пошив одежды","#"
-#          ,
-#          = link_to "Ремонт обуви","#"
-#          ,
-#          = link_to "Подбор стиля","#"
-#          ,
-#          = link_to "Вязание и шитье","#"
-#          и прочее...
-#        .b-category-link
-#          %a{:href => "#"}
-#            %i.fa.fa-eye{:title => "Смотреть лучшие работы"}
-#          %a{:href => "#"}
-#            %i.fa.fa-link{:title => "Перейти в раздел"}
-#      .work.col-lg-4.col-md-6.center
-#        = image_tag('category/1.png')
-#        %h4 Ремонт
-#        %p
-#          = link_to "Электрика","#"
-#          ,
-#          = link_to "Сантехнические работы","#"
-#          ,
-#          = link_to "Отделочные работы","#"
-#          ,
-#          = link_to "Инструменты для ремонта","#"
-#          и прочее...
-#        .b-category-link
-#          %a{:href => "#"}
-#            %i.fa.fa-eye{:title => "Смотреть лучшие работы"}
-#          %a{:href => "#"}
-#            %i.fa.fa-link{:title => "Перейти в раздел"}
-#      .work.col-lg-4.col-md-6.center
-#        = image_tag('category/4.png')
-#        %h4 Красота
-#        %p
-#          = link_to "Фотосессии","#"
-#          ,
-#          = link_to "Маникюр","#"
-#          ,
-#          = link_to "Загар","#"
-#          ,
-#          = link_to "Парикмахер на дом","#"
-#          и прочее...
-#        .b-category-link
-#          %a{:href => "#"}
-#            %i.fa.fa-eye{:title => "Смотреть лучшие работы"}
-#          %a{:href => "#"}
-#            %i.fa.fa-link{:title => "Перейти в раздел"}
-#      .work.col-lg-4.col-md-6.center
-#        = image_tag('category/3.png')
-#        %h4 Ручная работа
-#        %p
-#          = link_to "Рисование портретов","#"
-#          ,
-#          = link_to "Художественная ковка","#"
-#          ,
-#          = link_to "Декоративные открытки","#"
-#          ,
-#          = link_to "Инструменты творчества","#"
-#          и прочее...
-#        .b-category-link
-#          %a{:href => "#"}
-#            %i.fa.fa-eye{:title => "Смотреть лучшие работы"}
-#          %a{:href => "#"}
-#            %i.fa.fa-link{:title => "Перейти в раздел"}