%footer.footer
  .container
    .col-sm-6.col-xs-4
      %a(href=root_path) О нас
    -#.top-number
        %p
          %i.fa.fa-phone-square
          +0123 456 70 90
    .col-sm-6.col-xs-8
      .social
        %ul.social-share
          %li
            %a{:href=>"#"}
              %i.fa.fa-facebook
          %li
            %a{:href=>"#"}
              %i.fa.fa-twitter
          %li
            %a{:href=>"#"}
              %i.fa.fa-linkedin
          %li
            %a{:href=>"#"}
              %i.fa.fa-dribbble
          %li
            %a{:href=>"#"}
              %i.fa.fa-skype
                -#.search
          -#%form{:role=>"form"}
            %input.search-form{:type=>"text", :autocomplete=>"off", :placeholder=>"Search"}
              %i.fa.fa-search